<!DOCTYPE html>
<html>
  <head>
    <title>SpamSentry Pixal AI</title>
    <style>
      .center {
        margin: auto;
        width: 60%;
        border: 3px solid #73AD21;
        padding: 10px;
      }
      .genim {
        height: 20px;
        width: 30px;
      }
      body {
  font-size: 20px;
}
      </style>
  </head>
  <body>
    <h1>Welcome to SpamSentry Pixal AI</h1>
    <h2>Protecting Your Online Digital Presence</h2>
    <h3>Let's look through features and modules!!</h3>
    <div class="center">
      <h1>What do you want to do ??</h1>
      <br>
      &#10024;
            <br>
    </div>
  </body>