<!DOCTYPE html>
<html>
  <head>
    <title>SpamSentry Pixal AI</title>
    <style>
      .center {
        margin: auto;
        width: 60%;
        border: 3px solid #73AD21;
        padding: 10px;
      }
      .genim {
        height: 20px;
        width: 30px;
      }
      body {
  font-size: 20px;
}
      </style>
  </head>
  <body>
    <h1>Welcome to SpamSentry Pixal AI</h1>
    <h2>Protecting Your Online Digital Presence</h2>
    <h3>Let's look through features and modules!!</h3>
    <div class="center">
      <h1>What do you want to do ??</h1>
      <br>
      &#10024;
      <a href="{% url 'spam_detect' %}"><button class="genima" >Spam Website Detector</button></a><br>
      &#10024;
      <a href="{% url 'spam_lister_rate' %}"><button>Spam Website Lister and Rating</button></a><br>
      &#10024;
      <a href="{% url 'review_collect' %}"><button>Spam Review Collector</button></a><br>
      &#10024;
      <a href="{% url 'not_spam_detect' %}"><button>Not Spam Detector and Lister</button></a><br>
      &#10024;
      <a href="{% url 'image_object_detect' %}"><button>Image Object Detector</button></a><br>
      &#10024;
      <a href="{% url 'object_lister' %}"><button>Object Listing Description</button></a><br>
      <br>
    </div>
  </body>